* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e8e8e8;
}

.todo {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  background: #e8e8e8;
  border: 2px solid #181818;
  border-radius: 12px;
  box-shadow: 8px 8px 0 #181818;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.todo {
  width: 100%;
  max-width: 600px;
}

h1 {
  color: #e8e8e8;
  text-shadow:
    2px 2px 0 #181818,
    4px 4px 0 #181818;
}
.form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  border: 0;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  background: #18181b;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 14px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
}

li span {
  cursor: pointer;
  flex: 1;
}

li button {
  background: #ef4444;
  padding: 5px 10px;
}

.completed span {
  text-decoration: line-through;
  color: #999;
}

.empty {
  color: #777;
}
.add-button {
  --bg: #e8e8e8;
  --text: #181818;

  padding: 12px 24px;
  border: 2px solid #181818;
  border-radius: 8px;
  background: var(--bg);
  color: var(--text);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;

  box-shadow: 4px 4px 0 #181818;
  transition: 0.15s ease;
}

.add-button:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0 #181818;
}

.add-button:active {
  transform: translate(4px, 4px);
  box-shadow: 0 0 0 #181818;
}
.todo-input {
  width: 100%;
  flex: 1;
  padding: 12px 16px;

  background: #e8e8e8;
  border: 2px solid #181818;
  border-radius: 8px;

  outline: none;
  color: #181818;
  font-size: 16px;

  box-shadow: 4px 4px 0 #181818;
  transition: 0.2s ease;
}

.todo-input::placeholder {
  color: #777;
}

.todo-input:focus {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0 #181818;
}